<!-- 

<div>
    <input type="password"   placeholder="{{'Enter' | translate}} {{'Password' | translate}}" class="w-100 py-xxl-3 py-xl-3 py-lg-3 py-2 px-4" id="password">
    @if(loginForm.get("password")?.errors?.["required"] && loginForm.get("password")?.dirty){
      <span class="text-danger">{{"Password" | translate}} {{"isRequired" | translate}}</span>
     }
     @else if(loginForm.get("password")?.errors?.["minlength"]){
      <span class="text-danger">{{"The length of the password must be more than 8 characters" | translate}}</span>
     }
</div>
<input type="submit" class="w-100 py-1 mt-5" id="submit" value="Login">
  </form>
</section> -->













<section class="container-xxl coloe-">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
             <div class="app-brand justify-content-center">
              <!-- <a href="index.html" class="app-brand-link gap-2"> -->
                <img src="assets/images/logo.png" alt="logo" class="w-50">
              <!-- </a> -->
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">{{"Welcome" | translate}} 👋</h4>
            <p class="mb-4">{{"PleaseSign-inToYourAccount" | translate}}</p>
            <form [formGroup]="loginForm" (ngSubmit)="login()" id="formAuthentication" class="mb-3" action="index.html" method="POST">
              <div class="mb-3">
                <label for="username" class="form-label">{{"Username" | translate}}</label>
                <input
                  required
                  type="text"
                  class="form-control py-2"
                  id="username"
                  name="username"
                  formControlName="username" placeholder="{{'Enter' | translate}} {{'Username' | translate}}"
                />
                @if(loginForm.get("username")?.errors?.["required"] && loginForm.get("username")?.dirty){
                  <span class="text-danger">{{"Username" | translate}} {{"isRequired" | translate}}</span>
                 }
              </div>
            
              <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="password">{{"Password" | translate}}</label>
                </div>
                <div class="input-group input-group-merge">
                  <input
                    required
                    type="password"
                    formControlName="password"
                    id="password"
                    class="form-control py-2"
                    name="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  />
                </div>
                @if(loginForm.get("password")?.errors?.["required"] && loginForm.get("password")?.dirty){
                  <span class="text-danger">{{"Password" | translate}} {{"isRequired" | translate}}</span>
                 }
                 @else if(loginForm.get("password")?.errors?.["minlength"]){
                  <span class="text-danger">{{"The length of the password must be more than 8 characters" | translate}}</span>
                 }
              </div>
              <div class="mb-3">
                <button class="btn btn-mdha d-grid w-100" type="submit">{{"SignIn" | translate}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>